@CHARSET "ISO-8859-1";

.bodycontainer {
	height: 351px;
	width: 100%;
	margin: 0;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

.table-scrollable {
	margin: 0;
	padding: 0;
}

#tableRecordSet_wrapper {
	margin-bottom: 86px;
}

.has-error .tooltip-inner {
	background-color: #a94442 !important;
}

.has-error .tooltip-arrow {
	border-left-color: #a94442 !important;
}

.radioButtonSmall input[type="radio"] {
	vertical-align: text-bottom;
}

.radioButtonSmall label {
	font-size: 12px;
	color: #777;
	font-weight: normal !important;
	font-style: italic;
}

.equal, .equal>div[class*='col-'] {
	display: -webkit-flex;
	display: flex;
	flex: 1 1 auto;
}

.nestedColumn {
	padding-right: 0px !important;
	padding-left: 0px !important;
}